<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>
</head>
<body>
  <%- include ('partials/nav.ejs')%>

  <div class="centering-wrapper">
    <div class="signup-container">
      <h1>Create Account</h1>

      <div class="error">
        <%- include("partials/errors.ejs") %>
      </div>

      <form action="/sign-up" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"
               value="<%= data.username || '' %>" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" 
               value="<%= data.email || '' %>" required>
        <label for="password">Password: <span>(At least one number and one uppercase letter)</span></label>
        <input type="password" id="password" name="password" 
               placeholder="Between 6~30 characters" required>
        <label for="confirm-password">Confirm Password:</label>
        <input type="confirm-password" id="confirm-password" name="confirm-password" 
               placeholder="Between 6~30 characters" required>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
  
</body>
</html>